<div class="dashboard-wrapper">
    <div class="container-fluid dashboard-content">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h3 class="text-center">Add Customer </h3>
            </div>
        </div>
        <div class="row">
            <!-- ============================================================== -->
            <!-- basic form -->
            <!-- ============================================================== -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" >
            <div class="card" style="width:70%;margin:auto">
                <div class="card-body">
                    <form method="post" id="basicform" data-parsley-validate="">
                        <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input  type="text" 
                                    ngModel 
                                    required
                                    #firstName="ngModel"
                                    name="firstName"
                                    class="form-control" 
                                    id="firstName" 
                                    aria-describedby="firstName"
                                    required placeholder="Enter First name">
                        </div>
                        <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <input id="lastName" 
                                    ngModel 
                                    type="text"  
                                    required
                                    #lastName="ngModel"
                                    name="firstName"
                                    class="form-control" 
                                    aria-describedby="lastName"
                                    required placeholder="Enter Last name">
                        </div>
                        <div class="form-group">
                            <label for="email">Email Id</label>
                            <input id="email"  
                                    ngModel 
                                    type="email" 
                                    required
                                    #email="ngModel"
                                    name="email"
                                    class="form-control" 
                                    aria-describedby="email"
                                    required placeholder="Enter Email">
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone Number</label>
                            <input id="phone"
                                    ngModel
                                    type="text" 
                                    required
                                    #email="ngModel"
                                    name="phone"
                                    aria-describedby="phone" 
                                    required placeholder="Enter Phone Number" 
                                    class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="PAN">PAN Number</label>
                            <input id="PAN" 
                                    ngModel
                                    type="text" 
                                    name="PAN" 
                                    required
                                    #email="ngModel"
                                    aria-describedby="PAN"
                                    required placeholder="Enter PAN Number" 
                                    class="form-control">
                        </div>
                        <div class="col-sm-12 pl-0">
                            <p class="text-right">
                                <button type="submit" class="btn btn-block btn-space btn-primary" name="submit">Submit</button>
                             </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
