<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <h2 class="text-center">Your Account's Details</h2>
    </div>
</div>

<div class="row">
    <!-- ============================================================== -->
    <!-- profile -->
    <!-- ============================================================== -->
    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 ">
        <!-- ============================================================== -->
        <!-- card profile -->
        <!-- ============================================================== -->
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    <!-- <h3 class="font-24 mb-0">Acoount Number</h3><br/> -->
                    <h2>/Number/</h2>
                    <h2>/Balance/</h2>
                </div>
            </div>
            <div class="card-body border-top">
                <h3 class="font-16">Account Type</h3>
                <div class="">
                    <ul class="list-unstyled mb-0">
                    <li class="mb-2"><i class="fas fa-fw fa-envelope mr-2"></i>Type of Account</li>
                </ul>
                </div>
            </div>
            <div class="card-body border-top">
                <h3 class="font-16">Branc Details</h3>
                <div class="">
                    <ul class="list-unstyled mb-0">
                        <li class="mb-2"><i class="fas fa-fw fa-envelope mr-2"></i>IFSC Code</li>
                        <li class="mb-2"><i class="fas fa-fw fa-envelope mr-2"></i>Branch Name</li>
                        <li class="mb-2"><i class="fas fa-fw fa-envelope mr-2"></i>Branch City</li>
                        <li class="mb-2"><i class="fas fa-fw fa-envelope mr-2"></i>Branch State</li>
                        <li class="mb-2"><i class="fas fa-fw fa-envelope mr-2"></i>Branch Pincode</li>
                      </ul>
                </div>
            </div>
        </div>
    </div>
    

</div>
