<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <h2 class="text-center">Your Account's Details</h2>
    </div>
</div>

<div class="row">
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12"  *ngFor="let account of userAccounts">
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    <h4>Account Number</h4>
                    <h3>{{account?.accountNum}}</h3>
                    <h4>Account Balance</h4>
                    <h3>{{account?.balance}}</h3>
                </div>
            </div>
            <div class="card-body border-top">
                <h3 class="font-16">Account Details</h3>
                <div class="">
                    <ul class="list-unstyled mb-0">
                    <li class="mb-2"><i class="fa fa-fw fa-circle mr-2"></i>Account Type: {{account?.accountType}}</li>
                    <li class="mb-2"><i class="fa fa-fw fa-circle mr-2"></i>Account Status: <span [style.color]="account?.activated? 'LawnGreen':'red'"><i class="fa fa-fw fa-circle mr-2"></i>{{account.activated?'Active':'Inactive'}}</span></li>
                  </ul>
                </div>
            </div>
            <div class="card-body border-top">
                <h3 class="font-16">Branch Details</h3>
                <div class="">
                    <ul class="list-unstyled mb-0">
                        <li class="mb-2"><i class="fa fa-fw fa-circle mr-2"></i>IFSC Code: {{account?.branch.branchIFSC}}</li>
                        <li class="mb-2"><i class="fa fa-fw fa-circle mr-2"></i>Branch Name: {{account?.branch.branchName}}</li>
                        <li class="mb-2"><i class="fa fa-fw fa-circle mr-2"></i>Branch City: {{account?.branch.city}}</li>
                        <li class="mb-2"><i class="fa fa-fw fa-circle mr-2"></i>Branch State: {{account?.branch.state}}</li>
                        <li class="mb-2"><i class="fa fa-fw fa-circle mr-2"></i>Branch Pincode : {{account?.branch.pincode}}</li>
                      </ul>
                </div>
            </div>
        </div>
  </div>
</div>
